@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 0.5px;
    background-color: #273E59;
}

a {
    color: #d0d3e2;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


/**/
/** HEADER/**/
/**/

header {
    background-color: #273051;
    height: 80px;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-header img {
    height: 70px;
    margin: 5px;
    margin-right: 1rem;
}

#searchbar {
    flex: 0.7;
    margin: 0 1rem;
    height: 40px;
    border-radius: 10px;
}

#logo {
    margin:5px;
    }

/**/
/**MAIN/**/
/**/

.card {
    background-color: #273051;
    color: #eae4e4c1;
    margin-top: 50px;

    border-radius: 4px;
    box-shadow: rgba(2, 1, 9, 0.242) 0px 5px 15px;
}

.card>.card-title {
    padding: 0 16px;
    text-align: center;
    background-color: #273051;
    color: #EAE4E4;
    border-radius: 4px 4px 0 0;
}


.card>.card-body {
    padding: 16px 16px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: start;
    list-style-type: none;
}

.navbar>li {
    padding: 15%;
}

.navbar>li a {
    /* Transformation en block */
    display: block;
    /* Largeur minimale des liens */
    /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;
    /* Centrage du texte */
    background-color: #0D5369;
    color: #fff;
    /* Couleur du texte */
    text-decoration: none;
    /* Suppression du soulignement */

}

.navbar>li a:hover {
    background-color: #273051;  
}



/* Body images*/
.images {
    width: 150px;
    height: 150px;
}

.images2 {
 /*   width: px;*/
    height: 75px;
}



/**/
/**PAGE SECTIONS/**/
/**/

.grid>li {
    list-style-type: none;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    height: 50px;
    margin: 30px;
}

.menu a {
   /* display: block;*/
   display: block;
    /* Transformation en block */
    min-width: 120px;
    /* Largeur minimale des liens */
    margin: 0.5rem;
    /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;
    /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;
    /* Centrage du texte */
    background-color: #0D5369;
    color:#d0d3e2;
    /* Couleur du texte */
    text-decoration: none;
    /* Suppression du soulignement */
    border: 1px solid #2a262603;
    /* Ajout d'une bordure */
    border-radius: 5px;
}


.button img {
    height: 80px;
    width: px;
    margin: 0;
}

.menu a:hover {
    background-color: #273051;
}

/**/
/** FORMULAIRE/**/
/**/

fieldset {
    align-items: center;
    color: #d0d3e2;

}

legend {
    color: #d0d3e2;
    font-size: 20px;
}


/***/
/*page connexion*/
/**/


.grid-co {
    display: grid;
   grid-template-areas:"nav aside"
        "nav  aside"
        "article article";
    grid-template-rows: 30% 5% 60%;
    grid-template-columns: 60% 50%;
}

.grid-co>aside {
    grid-area: aside;
    background-color: #273051;

}

.grid-co>nav {
    grid-area: nav;
    background-color: #273051;
    ;
}

.grid-co>article {
    grid-area: article;

}

/*
#mainco {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height:270px ;
}
*/
#mainco {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height:150px ;
}

.field-co {
    padding-left: 30%;
    margin-right: 20px;
    border: none;
}

input {
    padding: 15px;
    margin: 20px;
    width: 60%;
    border-radius: 0px;
    border-color: #0D5369;
}

.button {
    background-color: #e0eaed84;
    border-radius: 10px;
    color: #d0d3e2;
    font-size: 25px;
}

/*image*/

#mainco>img {
 width: 200px;

}

#chat {
    /*padding-bottom: 30px;
    width: 215px;*/
    width: 0px;

}

/**/
/** FOOTER/**/
/**/

footer {
    background-color: #273051;
    ;
    height: 100px;

}